/*------------------------------
  Footer
------------------------------*/

footer p {
  text-align: center;
}

.site-footer {
  background-color: #ffffff !important;
}

.footer-connect {
  background-color: #111111 !important;
}

footer section#contact, footer section#contact {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.haunmena .contact-form {
  padding-left: 100px;
  padding-right : 100px;
  margin: 0 auto;
}
