/*--------------------------------------------------------------
  Forms
--------------------------------------------------------------*/

input[type="text"], input[type="email"], textarea {
  width: 100%;
}

.wpcf7-submit {
  min-width: 200px;
  margin: 1em 0;
}
