/*------------------------------
  Alignments
------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em !important;
  margin-bottom: 2em !important;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 2em !important;
  margin-bottom: 2em !important;
}
