/*--------------------------------------------------------------
  Layout
--------------------------------------------------------------*/

#primary {
  padding-bottom: 40px;
  padding-top: 40px;
}

#secondary {
  margin: 40px 0;
  padding: 40px !important;
  background-color: #445060;
}

@media screen and (min-width: 940px) {
  #secondary {
    padding-top: 40px;
  }
}

.content-area {
  width: 100%;
  float: none;
}

@media screen and (min-width: 940px) {
  .content-area {
    float: left;
  }
}

.sidebar {
  width: 100%;
  float: none;
}

@media screen and (min-width: 940px) {
  .sidebar {
    width: 33.33%;
    float: left;
  }
}

.no-sidebar .content-area {
  width: 100%;
}

@media screen and (min-width: 940px) {
  .left-sidebar .content-area {
    float: right;
    padding-left: 39px;
    margin-right: 1px;
    width: 66.66%;
  }
  .left-sidebar .sidebar {
    padding-right: 39px;
    margin-right: -1px;
  }
  .right-sidebar .content-area {
    padding-right: 39px;
    border-right: 0 !important;
    width: 66.66%;
  }
  .right-sidebar .sidebar {
    padding-left: 39px;
    margin-left: -1px;
  }
}

.profile-badges {
  text-align: center;
}

div.lawyer-badges {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

div.avvo_badge, div#super_lawyers_badge {
  width: 180px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  div.lawyer-badges {
    text-align: center;
    width: 10%;
  }

  div.avvo_badge, div#super_lawyers_badge {
    width: 100px;
    margin-bottom: 25px !important;
  }

}
